<h1>Make your form here</h1>
<form action="/new" method="POST">
  <label>Pirate Name: <input type="text" name="pirate[name]">
    </label>
  <label>Pirate Weight: <input type="text" name="pirate[weight]">
    </label>
    <label>Pirate Height: <input type="text" name="pirate[height]">
      </label>
  <label>Ship Name: <input type="text" name="pirate[ships][][name]">
    </label>
  <label>Ship Type: <input type="text" name="pirate[ships][][type]">
    </label>
    <label>Ship Booty: <input type="text" name="pirate[ships][][booty]">
      </label>
  <label>Ship Name: <input type="text" name="pirate[ships][][name]">
    </label>
  <label>Ship Type: <input type="text" name="pirate[ships][][type]">
    </label>
    <label>Ship Booty: <input type="text" name="pirate[ships][][booty]">
      </label>
  <input type="submit">
</form>
