<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <label>Pirate Name: <input type="text" name="student[name]">
    </label>
  <label>Pirate H: <input type="text" name="student[grade]">
    </label>
    <label>Pirate Grade: <input type="text" name="student[grade]">
      </label>
  <label>Course Name: <input type="text" name="student[courses][][name]">
    </label>
  <label>Course Topic: <input type="text" name="student[courses][][topic]">
    </label>
  <label>Course Name: <input type="text" name="student[courses][][name]">
    </label>
  <label>Course Topic: <input type="text" name="student[courses][][topic]">
    </label>
  <input type="submit">
</form>
