<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <label>Student Name: <input type="text" name="student[name]">
  <label>Student Grade: <input type="text" name="student[grade]">
  <label>Course Name: <input type="text" name="student[courses][][name]">
  <label>Course Topic: <input type="text" name="student[courses][][topic]">
  <label>Course Name: <input type="text" name="student[courses][][name]">
  <label>Course Topic: <input type="text" name="student[courses][][topic]">
  <input type="submit">
</form>
