<h1>Display your Pirate here</h1>
<div class="pirate">
<h3>Name: <%= @student.name %></h3><br>
<h4>Grade: <%= @student.weight %></h4>
</div><br>

<h2>Display your first ship here</h2>


<h2>Display your second ship here</h2>
