"<h1>Welcome to the Nested Forms Lab!</h1>\n\n\n<p>In this lab, you'll practice using nested f
orms in... same name property. Capybara needs some sort of unique indentifier, so we use id. </li>\n\n</ul>\n"
 to include "let's navigate to the '/new'"
